
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;

}
.center {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
h5{
    font-size:  25px;
}
p{
    font-size: 20px;
}

.title{
    font-size: 45px;
    text-align: center !important;
}

.header{
    top: 0px;
    font-size: 20px;
    background-color: rgb(255, 229, 234);

}
.tableaubody{
    top: 52px;
    left: 152px;
    bottom: 32px;
    right: 0px;
}
.footer{
    bottom:0px;
    height: 50px;
    left: 0px;
    width: 100%;
    background-color: rgb(255, 229, 234);
}
